@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;600;700;800&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;  
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.container {
    width: 1200px;
    margin: 0 auto;
}


/* HEADER */

.header {
    width: 100%;
    height: 100%;
    background-image: url(../img/Header__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center center;
}

.header__menu {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 55px;
}

.nav__link {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    transition: color 0.2s linear;
    padding-bottom: 12px;
    
}

.nav__link:hover {
    color: #fce38a;
    border-bottom: 5px solid #fce38a;
    
}


.header__wrapper {
    text-align: center;
    margin-top: 80px;
}

.header__text {
    padding: 0;
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 65px;
    color: white;
}

.header__hading {
    padding: 0;
    margin: 0 auto;
    width: 830px;
    font-size: 140px;
    line-height: 140px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}

.inline {
    margin: 0 auto;
    width: 65px;
    height: 5px;
    background-color: #fff;
}


.header__btn {
    margin-bottom: 80px;
    margin-top: 35px;
    border: 4px solid white;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 30px;
    text-transform: uppercase;
}

.header__btn {
    cursor: pointer;
}

.header__btn:active {
    background-color: black;
    opacity: 0.3;
    
}

.slide__list {
    display: flex;
    justify-content: space-between;
}

.slide__text {
    padding: 30px 0;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}

.slide__item {
    position: relative;
    width: 20%;
    border-top: 2px solid white;
    transition: color 0.5s linear;
}

.slide__item:hover::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 50px;
    height: 2px;
    background-color: red;
}

/******************/

.sup__text {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    margin: 0;
}

.heading__site {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin: 0;
    margin-bottom: 94px;
}

.heading__site::after {
    content: '';
    position: relative;
    top: 45px;
    display: block;
    width: 60px;
    height: 5px;
    background-color: red;
    margin: 0 auto;
}


.sub__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    max-width: 880px;
    margin: 0 auto;
}


.color__white {
    /* background-color: #f7f3f3; */
}

/******************/

/* ABOUT */

.about {
    padding-top: 95px;
}


.text__center {
    text-align: center;
}

.about__list {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.about__item:hover::before {
    content: '';
    box-shadow: 6px 6px #5dc5b2;
    position: absolute;
    width: 380px;
    height: 250px;
    background-color: orangered;
    opacity: 0.7;
}

.about__item:not(:last-child) {
    padding-right: 25px;
}

.about__card {
    margin-bottom: 100px;
}

/***********************/
/*info*/

.info {
    width: 100%;
    height: 267px;
    background-color: #95e1d3;
}

.info__item {
    text-align: center;
}


.info__list {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.number {
    color: white;
    font-size: 72px;
    font-weight: bold;
}

.number__subtitle {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

/***************/
/*services*/

.services {
    margin-top: 100px;
}

.services__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.services__item {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.services__item {
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0 0 0 60px;
    margin-bottom: 50px;
}

.services__title {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.sirvices__text {
    color: gray;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.8;
}

/***************/
/*design*/

.design {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 850px;
    padding-bottom: 0;
}

.design__title {
    padding-top: 100px;
    padding-bottom: 0;
}

.design__images {
    width: 100%;
    max-width: 650px;
    position: relative;
    bottom: 30px;
    margin: 0 auto;
}

.design__item {
    display: block;
}

.design__white {
    position: absolute;
    right: -50px;
    bottom: -80px;
}


/************************/
/*service__we--do*/

.service__we--do {
    margin-top: 80px;
}

.text__we--do{
    margin-bottom: 80px;
}

.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}

/* .accordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 17px;
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active
.accordion__header::after {
    transform: translateY(-50%) 
    rotate(-45deg);
}

.accordion__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
}

.accordion__header::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) 
    rotate(135deg);
}

.accordion__content {
    display: none;
    padding: 15px 20px;
    font-size: 15px;
    font-style: italic;
    color: #999999;
} 

.accordion__icon {
    padding: 18px;
}

.accordion__title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600; 
} */



/**********************/
/* content__slider */

.section__slider {
    margin-top: 80px;
    background-color: #f8f8f7;
    height: 290px;
    width: 100%;
}


.carousel-control-prev-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e);
}

.carousel-control-next-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}




.content__text {
    margin-left: 50px;
    max-width: 780px;
    width: 100%;
    position: relative;
}

.section__wrapp {
    position: relative;
}

.section__wrapp::after {
    cursor: pointer;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) 
    rotate(45deg);
}

.section__wrapp::before {
    cursor: pointer;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%) 
    rotate(225deg);
}

.content__text::after{
    display: block;
    content: '';
    width: 50px;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    top: 80px;
}

.content__text--name {
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    left: 70px;
    top: 73px
}

.accordion-item img {
    padding-right: 20px;
}

.accordion-item button {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
}

.accordion {
    margin-left: 35px;
}

.accordion-body {
    color: gray;
    font-style: italic;
    line-height: 1.5;
}

.section__slider {
    display: flex;
    align-items: center;
}

.section__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* meet_our--team */

.meet_our--team {
    margin-top: 100px;
}

.meet__about--list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.meet__about--item:hover::before {
    content: '';
    box-shadow: 6px 6px #5dc5b2;
    position: absolute;
    width: 380px;
    height: 470px;
    background-color: orangered;
    opacity: 0.7;
}

.meet__about--item {
    width: 26%;
}

figcaption {
    margin-top: 30px;
    text-align: center;
}
.meet__name {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

footer {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

footer p {
    padding-top: 20px;
}

footer a {
    color: red;
    font-weight: 700;
}


