@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;600;700;800&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;  
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.container {
    width: 1200px;
    margin: 0 auto;
}


/* HEADER */

.header {
    width: 100%;
    height: 100%;
    background-image: url(../img/Header__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center center;
}

.header__menu {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 55px;
}

.nav__link {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    transition: color 0.2s linear;
    padding-bottom: 12px;
    
}

.nav__link:hover {
    color: #fce38a;
    border-bottom: 5px solid #fce38a;
    
}


.header__wrapper {
    text-align: center;
    margin-top: 80px;
}

.header__text {
    padding: 0;
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 65px;
    color: white;
}

.header__hading {
    padding: 0;
    margin: 0 auto;
    width: 830px;
    font-size: 140px;
    line-height: 140px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}

.inline {
    margin: 0 auto;
    width: 65px;
    height: 5px;
    background-color: #fff;
}


.header__btn {
    margin-bottom: 80px;
    margin-top: 35px;
    border: 4px solid white;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 30px;
    text-transform: uppercase;
}

.header__btn {
    cursor: pointer;
}

.header__btn:active {
    background-color: black;
    opacity: 0.3;
    
}

.slide__list {
    display: flex;
    justify-content: space-between;
}

.slide__text {
    padding: 30px 0;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}

.slide__item {
    position: relative;
    width: 20%;
    border-top: 2px solid white;
    transition: color 0.5s linear;
}

.slide__item:hover::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 50px;
    height: 2px;
    background-color: red;
}

/******************/

.sup__text {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    margin: 0;
}

.heading__site {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin: 0;
    margin-bottom: 94px;
}

.heading__site::after {
    content: '';
    position: relative;
    top: 45px;
    display: block;
    width: 60px;
    height: 5px;
    background-color: red;
    margin: 0 auto;
}


.sub__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    max-width: 880px;
    margin: 0 auto;
}


.color__white {
    /* background-color: #f7f3f3; */
}

/******************/

/* ABOUT */

.about {
    padding-top: 95px;
}


.text__center {
    text-align: center;
}

.about__list {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.about__item:hover::before {
    content: '';
    box-shadow: 6px 6px #5dc5b2;
    position: absolute;
    width: 380px;
    height: 250px;
    background-color: orangered;
    opacity: 0.7;
}

.about__item:not(:last-child) {
    padding-right: 25px;
}

.about__card {
    margin-bottom: 100px;
}

/***********************/
/*info*/

.info {
    width: 100%;
    height: 267px;
    background-color: #95e1d3;
}

.info__item {
    text-align: center;
}


.info__list {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.number {
    color: white;
    font-size: 72px;
    font-weight: bold;
}

.number__subtitle {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

/***************/
/*services*/

.services {
    margin-top: 100px;
}

.services__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.services__item {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.services__item {
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0 0 0 60px;
    margin-bottom: 50px;
}

.services__title {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.sirvices__text {
    color: gray;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.8;
}

/***************/
/*design*/

.design {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 850px;
    padding-bottom: 0;
}

.design__title {
    padding-top: 100px;
    padding-bottom: 0;
}

.design__images {
    width: 100%;
    max-width: 650px;
    position: relative;
    bottom: 30px;
    margin: 0 auto;
}

.design__item {
    display: block;
}

.design__white {
    position: absolute;
    right: -50px;
    bottom: -80px;
}
